.botao{
    border-radius: 30px;
    
}

.botao2{
    border-radius: 30px;
    margin-left: 225px;
    margin-top: 20px;
}
.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}




